{{ partial "header.html" . }}
<div id="content"><article>
<h1>{{ if .Params.heading }}{{ .Params.heading }}{{ else }}{{ .Title }}{{ end }}</h1>
<div id="byline">
<a href="/">{{ .Site.Params.sitename }}</a> &#x2606;
<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z" }}">{{ .Date.Format (.Site.Params.dateform | default "January 2, 2006") }}</time>
</div>
{{- if .Params.draft }}
<p id="draft">
&#x26A0; Draft &#x26A0;
</p>
{{ end -}}
{{ .Content }}
<div id="links"></div>
</article></div>

<script type="application/ld+json">{
 "@context"         : "http://schema.org"
,"@type"            : "BlogPosting"
,"headline"         : "{{ .Title  }}"
,"mainEntityOfPage" : { "@type": "WebPage",       "@id": "{{ .Permalink }}"}
,"author"           : { "@type": "Person",       "name": "{{ .Site.Params.sitename }}"}
,"publisher"        : { "@type": "Organization", "name": "{{ .Site.Params.sitename }}"}
,"datePublished"    : "{{ .Date.UTC.Format "2006-01-02T15:04:05Z" }}"
{{- with  .GitInfo }}
,"dateModified"     : "{{ .AuthorDate.UTC.Format "2006-01-02T15:04:05Z" }}"
{{- end }}
}</script>
{{ partial "footer.html" . }}
