<style>
body {
  color: rgba(0,0,0,1.0);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  max-width:700px;
  padding-left:20px;
  padding-right:20px;
  line-height: 33px;
  margin:auto;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
}

p,a,li,blockquote {
  font-weight: 300;
  font-size: 21px;
}

code {
  font-family: menlo, consolas, "Roboto Mono", "Liberation Mono", "Ubuntu Mono", courier, monospace;
  font-size: 21px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

a:link,a:visited {
  color: rgba(0,0,0,1.0);
  text-decoration: underline;
  text-decoration-color: rgba(0,0,0,0.4);
  text-decoration-skip: ink;
}

.underline {
  text-decoration: underline;
  text-decoration-color: rgba(0,0,0,0.4);
  text-decoration-skip: ink;
}
</style>
