/*
body {
  color: {{ .Site.Data.css.bodyColor }};
  background-color: {{ .Site.Data.css.bodyBackgroundColor }};
  max-width: 768px;
  line-height: {{ .Site.Data.css.bodyLineHeight }};
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}
*/
body {
	color: #000;
}
a {
	color: #000;
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-skip-ink: ink;
}
nav a {
	text-decoration: none;
}

p,li {
  font-family: {{ .Site.Data.css.bodyFontFamily }};
  font-size: {{ .Site.Data.css.bodyFontSize }};
  letter-spacing: {{ .Site.Data.css.bodyLetterSpacing }};
}

/* needed for nested lists */
li li {
	font-size: 1em;
}

pre, kbd {
  font-size: {{ .Site.Data.css.codeFontSize }};
}

pre {
  word-wrap: normal;
  tab-size: 2;
  margin-bottom: 1em;
  word-break: normal;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  overflow: auto;
  line-height: 1.45;
  background-color: {{ .Site.Data.css.codeBackgroundColor }};
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #CBCBCB;
}

blockquote {
  margin-top: 0;
  margin-bottom: 16px;
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

blockquote>:first-child {
  margin-top: 0;
}

blockquote>:last-child {
  margin-bottom: 0;
}

table {
  font-size:   {{ .Site.Data.css.bodyFontSize }};
  font-family: {{ .Site.Data.css.bodyFontFamily }};
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  overflow: auto;
}

table th {
  font-weight: 600;
}

table th,
table td {
  padding: 6px 13px;
}

table tbody tr {
  border-top: 1px solid #c6cbd1;
}

table th {
  text-align: left;
}

/* https://benrabicoff.com/better-link-underline/ */
/*
a {
  background-image:linear-gradient(to bottom, {{ .Site.Data.css.linkColor }} 50%, {{ .Site.Data.css.linkColor }} 50%);
  background-repeat:repeat-x;
  background-size:1px 1px;
  background-position:0 1.1em;
  color: {{ .Site.Data.css.linkColor }};
  font-weight:400;
  text-shadow:-1px -1px 0 {{ .Site.Data.css.bodyBackgroundColor }}, 1px -1px 0 {{ .Site.Data.css.bodyBackgroundColor }}, -1px 1px 0 {{ .Site.Data.css.bodyBackgroundColor }}, 1px 1px 0 {{ .Site.Data.css.bodyBackgroundColor }};
  text-decoration:none;
}
a:hover {
  background-color: {{ .Site.Data.css.linkHoverBackgroundColor }};
  text-shadow:-1px -1px 0 {{ .Site.Data.css.linkHoverBackgroundColor }}, 1px -1px 0 {{ .Site.Data.css.linkHoverBackgroundColor }}, -1px 1px 0 {{ .Site.Data.css.linkHoverBackgroundColor }}, 1px 1px 0 {{ .Site.Data.css.linkHoverBackgroundColor }};
  text-decoration:none;
}
*/

#links a {
  text-decoration: none;
}

ul { list-style-type: square; }

#front a {
  text-decoration: none;
  font-weight: 400;
  color: #000;
  background-image: none;
  text-shadow: none;
}

#front a:hover {
  background-color: #FFEBCD;
}

/* 672px covers iphone 5,6 in landscape */
/*
@media (max-width: 42em) {
  html {
    font-size: 0.9rem;
  }
  div#content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
*/
/* under 414px covers portrait mode of iphone 5,6,6+ */
@media (max-width: 26em) {
  html {
    font-size: 0.8rem;
  }
  div#content {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}
*/
