@font-face {
  font-family: "tabular-numbers";
  src: local("charter"),local("bitstream charter"),local("cambria");
  unicode-range: U+0030-0039;
}
@font-face {
font-family: "emoji";
src: local("Apple Color Emoji"), local("Segoe UI Emoji"), local("Segoe UI Symbol"), local("Noto Color Emoji");
}

body {
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,ubuntu,sans-serif,emoji;
  font-size: 1.25rem; /* {{ .Site.Data.css.bodyFontSize }}; */
  color: #000;
}

p,li,td {
 font-family: charter,bitstream charter,tabular-numbers,georgia,serif,emoji;
}

code, kbd, var {
  tab-size: 2;
  white-space: nowrap;
  color: #000;
  font-family: SFMono-Regular,menlo,consolas,liberation mono,monospace,emoji;
}
pre>code {
  white-space: pre;
  color:#000;
}
pre {
  line-height: 1.25;
}
blockquote {
  margin-left: 10px;
  color: #6a737d;
  line-height: 1.2;
}
